:root {
  --primary: #f45400;
  --primary-rgb: rgb(244, 84, 0);
  --primary-hover: #ef7738;
  --white: #FFF;
  --gray: #D5D5DA;
  --gray-medium: #C0C8EB;
  --gray-dark: #464646;
  --orange: #DB4A00;
  --mint: #00AD86;
  --blue: #1389E7;
  --indigo: #3A00EA;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #AA0002;
  --yellow: #d3a71e;
  --green: #008B1B;
  --teal: #00E92B;
  --cyan: #00D423;
  --white: #fff;
  --primary: #F45400;
  --secondary: #00AD86;
  --success: #00D5C2;
  --info: #00D5C2;
  --warning: #d3a71e;
  --danger: #AA0002;
  --light: #fdfdfd;
  --dark: #464646;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --padding-x: 1rem;
  --padding-y: 1rem;

}